@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar de navegación -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <NavMenu />
            </div>
        </nav>

        <!-- Contenido principal -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <header class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Todo App</h1>
                <div class="top-row">
                    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" class="btn btn-outline-secondary">About</a>
                </div>
            </header>
            <article class="content">
                @Body
            </article>
        </main>
    </div>
</div>